{% extends 'base.html.twig' %}

{% block title %}
    {{ 'authors.title'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'authors.title'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'author.labels.name' | trans }}</th>
                <th>{{ 'author.labels.numberOfQuestions' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for author in pagination.items %}
                <tr>
                    <td>{{ author.getUserData().name }}</td>
                    <td>{{ author.questions.count() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}