{% extends 'base.html.twig' %}

{% block title %}
    {{ 'questions.edit.title' | trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'questions.edit.title' | trans }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'questions.edit.submit'|trans }}" class="btn btn-primary"/>
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('question_index') }}" class="btn btn-link">
            {{ 'action.back'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}


