{% extends 'base.html.twig' %}

{% block title %}
    {{ 'questions.title'|trans }}
{% endblock %}

{% block body %}
    {% if category is defined %}
        <h1>{{ 'questions.in_category'|trans({'%category%': category.name}) }}</h1>
    {% else %}
        <h1>{{ 'questions.title'|trans }}</h1>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary" href="{{ url('add_question') }}">{{ 'questions.new' | trans }}</a>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'questions.labels.title' | trans }}</th>
                <th>{{ 'questions.labels.answerCount' | trans }}</th>
                <th>{{ 'questions.labels.categories' | trans }}</th>
                <th>{{ 'questions.labels.authorName' | trans }}</th>
                <th>{{ 'questions.labels.created' | trans }}</th>
                <th>{{ 'questions.labels.lastModified' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for question in pagination.items %}
                <tr>
                    <td>
                        <a href="{{ url('single_question', {slug: question.slug}) }}">
                            {{ question.title }}
                        </a>
                    </td>
                    <td>{{ question.answers.count() }}</td>
                    <td>
                        {% for category in question.categories %}
                            <span>{{ category.name }}</span>
                        {% endfor %}
                    </td>
                    <td>{{ question.author.getUserData().name }}</td>
                    <td>{{ question.getCreatedDate()|format_date('relative_long') }}</td>
                    <td>{{ question.getLastModifiedDate()|format_date('relative_long') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}