{% extends 'base.html.twig' %}

{% block title %}
    {{ question.title }}
{% endblock %}

{% block body %}
    <h1>{{ question.title }}</h1>
    <div class="vstack gap-2">
        <div class="row">
            <label class="col">{{ 'questions.labels.content' | trans }}:</label>
            <div class="col">{{ question.content }}</div>
        </div>
        <div class="row">
            <label class="col">{{ 'questions.labels.authorName' | trans }}:</label>
            <div class="col">{{ question.author.getUserData().name }}</div>
        </div>
        <div class="row">
            <label class="col">{{ 'questions.labels.categories' | trans }}:</label>
            <div class="col">
                {% for category in question.categories %}
                    <span>{{ category.name }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <label class="col">{{ 'questions.labels.created' | trans }}:</label>
            <div class="col">{{ question.createdAt|format_date('relative_long') }}</div>
        </div>
        <div class="row">
            <label class="col">{{ 'questions.labels.lastModified' | trans }}:</label>
            <div class="col">{{ question.lastModifiedAt|format_date('relative_long') }}</div>
        </div>
    </div>
    {% if question.bestAnswer %}
        <h3>{{ 'answers.best.title' | trans }}</h3>
        <div class="border rounded-3 p-3">
            {{ 'answers.header' | trans({'%username%': question.bestAnswer.username, '%date%': question.bestAnswer.date | format_date('short')}) }}
            <div class="text-wrap text-break">{{ question.bestAnswer.content }}</div>
        </div>
    {% endif %}
    <h3>{{ 'answers.title' | trans }}</h3>
    <a class="btn btn-primary" href="{{ url('add_answer', {slug:question.slug}) }}">
        {{ 'action.answer' | trans }}
    </a>
    <div class="vstack gap-3 mt-3">
        {% if pagination is defined and pagination.items|length %}
            {% for answer in pagination.items %}
                {% if question.bestAnswer is null or answer.id != question.bestAnswer.id %}
                    <div class="border rounded-3 p-3">
                        {% if not answer.isDeleted %}
                            <div>{{ 'answers.header' | trans({'%username%': answer.username, '%date%': answer.date | format_date('short')}) }}</div>
                            <div class="text-wrap text-break">{{ answer.content }}</div>
                            {% if is_granted("ROLE_ADMIN") %}
                                <div class="hstack gap-3">
                                    {% if is_granted("DELETE", question) %}
                                        <a class="btn btn-secondary"
                                           href="{{ url('delete_answer', {'id': answer.id}) }}">
                                            {{ 'actions.delete' | trans }}
                                        </a>
                                    {% endif %}
                                    {% if is_granted("EDIT", question) %}
                                        <form method="post" action="{{ url('mark_best_answer', {slug: question.slug}) }}">
                                            <input hidden name="_method" value="PUT"/>
                                            <input hidden name="answer_id" value="{{ answer.id }}">
                                            <button type="submit"
                                                    class="btn btn-secondary">{{ 'actions.markAsBest' | trans }}</button>
                                        </form>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% else %}
                            <div>{{ 'answer.wasDeleted' | trans }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            {{ 'message.empty_list' | trans }}
        {% endif %}
    </div>
{% endblock %}